<footer>
    <div class="footer-content">
      <!-- Left Section: Contact Details -->
      <div class="footer-left">
        <p style="color: #e8e1e1;">Har Ghar Khushiyan</p>
        <p style="color: #e8e1e1;"> Address:Ward No-20 Buchar Gali,Mahabir Chowk Upper Bazar,</p>
        <p style="color: #e8e1e1;" >Ranchi G.p.o.,Ranchi,Jharkhand</p>
        <p style="color: #e8e1e1;" >Phone: +91 9334011565</p>
        <p style="color: #e8e1e1;">Email: info&#64;hargkhushiyan.gmail.com</p>
      </div>
  
      <!-- Middle Section: NGO Logo and Name -->
      <div class="footer-middle">
        <img src="assets/logo_ngo.jpg" alt="NGO Logo" class="logo">
        <h2>Har Ghar Khushiyan</h2>
        <p class="caption">Spreading Happiness Everywhere</p>
      </div>
  
      <!-- Right Section: Social Media Links -->
      <div class="footer-right">
        <a href="https://www.facebook.com/share/18eucdWkE4/" target="_blank">
          <img src="assets/facebook_icon.jpeg" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/har_ghar_khushiyan?igsh=MTZ3NWZqNG0xZWtiZA==" target="_blank">
          <img src="assets/Instagram_icon.png" alt="Instagram">
        </a>
      </div>
    </div>
  </footer>