<nav class="navbar" [class.expanded]="menuOpen">
  <!-- Logo and Toggle -->
  <div class="top-row">
    <div class="logo-text-container">
      <a routerLink="/">
      <img class="logo" src="/assets/hgkwf_logo.jpeg" alt="NGO Logo" />
      </a>
      <h2>Har Ghar Khushiyan</h2>
    </div>
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Navigation Links -->
  <div class="nav-links" [class.show-on-mobile]="menuOpen">
    <a
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="menuOpen = false"
    >
      {{ link.name }}
    </a>
  </div>
</nav>
